In [14]:
import pandas as pd

data = {
    "Conversion Date": ["Act/365f", "Act/360", "30/360", "30E/360", "Act/Act", "ICMA", "BD/252"],
    "Days": [320, 320, 316, 315, 320, 320, 223],
    "Years": [0.87671233, 0.88888889, 0.87777778, 0.875, 0.87431694, 0.873563322, 0.88492063]
}

# Create a DataFrame without index
df = pd.DataFrame(data)

# Apply styling for bold border lines and horizontal lines under headers
styled_df = df.style.set_table_styles([
    {'selector': 'th', 'props': [('border-bottom', '2px solid black')]},
    {'selector': 'td', 'props': []},
    {'selector': 'thead tr:first-child th', 'props': [('border-top', '3px solid black')]},
    {'selector': 'caption', 'props': [('border-bottom', '2px solid black'), ('font-weight', 'bold'), ('text-align', 'right')]}
]).set_caption("Time Period")

# Hide the index
styled_df.hide_index()

# Display the styled DataFrame
styled_df

C:\Users\USER\AppData\Local\Temp\ipykernel_6044\3721173360.py:21: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  styled_df.hide_index()

In [16]:
import pandas as pd

# Sample function yearfraction
def yearfraction(startdate, enddate, dayconvention="Act/365f"):
    # Placeholder values for demonstration
    data = {
        "": ["Act/365f", "Act/360", "30/360", "30E/360", "Act/Act", "ICMA", "BD/252"],
        "Days": [320, 320, 316, 315, 320, 320, 223],
        "Years": [0.87671233, 0.88888889, 0.87777778, 0.875, 0.87431694, 0.873563322, 0.88492063]
    }
    return pd.DataFrame(data)

# Example call to yearfraction function
result_table = yearfraction("2023-01-01", "2023-12-31", "Act/365f")
result_table

             Days     Years
0  Act/365f   320  0.876712
1   Act/360   320  0.888889
2    30/360   316  0.877778
3   30E/360   315  0.875000
4   Act/Act   320  0.874317
5      ICMA   320  0.873563
6    BD/252   223  0.884921

In [18]:
import pandas as pd

# Sample function yearfraction
def yearfraction(startdate, enddate, dayconvention="Act/365f"):
    # Placeholder values for demonstration
    data = {
        "": ["Act/365f", "Act/360", "30/360", "30E/360", "Act/Act", "ICMA", "BD/252"],
        "Days": [320, 320, 316, 315, 320, 320, 223],
        "Years": [0.87671233, 0.88888889, 0.87777778, 0.875, 0.87431694, 0.873563322, 0.88492063]
    }
    df = pd.DataFrame(data)
    return df.reset_index(drop=True)

# Example call to yearfraction function
result_table = yearfraction("2023-01-01", "2023-12-31", "Act/365f")
result_table

             Days     Years
0  Act/365f   320  0.876712
1   Act/360   320  0.888889
2    30/360   316  0.877778
3   30E/360   315  0.875000
4   Act/Act   320  0.874317
5      ICMA   320  0.873563
6    BD/252   223  0.884921

In [19]:
import pandas as pd

# Sample function yearfraction
def yearfraction(startdate, enddate, dayconvention="Act/365f"):
    # Placeholder values for demonstration
    data = {
        "": ["Act/365f", "Act/360", "30/360", "30E/360", "Act/Act", "ICMA", "BD/252"],
        "Days": [320, 320, 316, 315, 320, 320, 223],
        "Years": [0.87671233, 0.88888889, 0.87777778, 0.875, 0.87431694, 0.873563322, 0.88492063]
    }
    return pd.DataFrame(data).rename_axis(None)

# Example call to yearfraction function
result_table = yearfraction("2023-01-01", "2023-12-31", "Act/365f")
result_table

             Days     Years
0  Act/365f   320  0.876712
1   Act/360   320  0.888889
2    30/360   316  0.877778
3   30E/360   315  0.875000
4   Act/Act   320  0.874317
5      ICMA   320  0.873563
6    BD/252   223  0.884921

In [22]:
import pandas as pd

# Sample function yearfraction
def yearfraction(startdate, enddate, dayconvention="Act/365f"):
    # Placeholder values for demonstration
    data = {
        "": ["Act/365f", "Act/360", "30/360", "30E/360", "Act/Act", "ICMA", "BD/252"],
        "Days": [320, 320, 316, 315, 320, 320, 223],
        "Years": [0.87671233, 0.88888889, 0.87777778, 0.875, 0.87431694, 0.873563322, 0.88492063]
    }
    df = pd.DataFrame(data)
    return df.rename_axis(None).reset_index(drop=True)

# Example call to yearfraction function
result_table = yearfraction("2023-01-01", "2023-12-31", "Act/365f")
result_table
styled_df.hide_index()

C:\Users\USER\AppData\Local\Temp\ipykernel_6044\756720814.py:17: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  styled_df.hide_index()

In [39]:
import pandas as pd

def year_fraction(start_date, end_date, day_convention):
    start_date = pd.to_datetime(start_date, format='%d.%m.%Y')
    end_date = pd.to_datetime(end_date, format='%d.%m.%Y')
    
    if day_convention.lower() == 'act/365f':
        days_in_year = 365.0
    elif day_convention.lower() == 'act/360':
        days_in_year = 360.0
    elif day_convention.lower() == '30/360':
         days_in_year = 360.0
    elif day_convention.lower() == '30e/360':
         days_in_year = 360.0
    elif day_convention.lower() == 'act/act':
         days_in_year = (end_date - start_date).days
    elif day_convention.lower() == 'icma':
         days_in_year = 365.25
    elif day_convention.lower() == 'bd/252':
         days_in_year = 252.0
    else:
        raise ValueError('Unsupported day count convention')
    
    return (end_date - start_date).days / days_in_year

# Example dates
start_date = '15.2.2012'
end_date = '31.12.2012'
conventions = ['Act/365f', 'Act/360', '30/360', '30E/360', 'Act/Act', 'ICMA', 'BD/252']

# Calculate days between start and end date
days_difference = (pd.to_datetime(end_date, format='%d.%m.%Y') - pd.to_datetime(start_date, format='%d.%m.%Y')).days

# Generating data using year_fraction function for each convention
data = {'Day Count Convention': conventions,
        'Days': [days_difference] * len(conventions),  # Repeat the days_difference for each convention
        'Year': [year_fraction(start_date, end_date, conv) for conv in conventions]}

# Creating DataFrame from the generated data
df = pd.DataFrame(data).set_index('Day Count Convention')
 df = pd.DataFrame(data)
return df.rename_axis(None).reset_index(drop=True)

IndentationError: unexpected indent (2108284044.py, line 41)

In [42]:
import pandas as pd

def year_fraction(start_date, end_date, day_convention):
    start_date = pd.to_datetime(start_date, format='%d.%m.%Y')
    end_date = pd.to_datetime(end_date, format='%d.%m.%Y')
    
    if day_convention.lower() == 'act/365f':
        days_in_year = 365.0
    elif day_convention.lower() == 'act/360':
        days_in_year = 360.0
    elif day_convention.lower() == '30/360':
         days_in_year = 360.0
    elif day_convention.lower() == '30e/360':
         days_in_year = 360.0
    elif day_convention.lower() == 'act/act':
         days_in_year = (end_date - start_date).days
    elif day_convention.lower() == 'icma':
         days_in_year = 365.25
    elif day_convention.lower() == 'bd/252':
         days_in_year = 252.0
    else:
        raise ValueError('Unsupported day count convention')
    
    return (end_date - start_date).days / days_in_year

# Example dates
start_date = '15.2.2012'
end_date = '31.12.2012'
conventions = ['Act/365f', 'Act/360', '30/360', '30E/360', 'Act/Act', 'ICMA', 'BD/252']

# Calculate days between start and end date
days_difference = (pd.to_datetime(end_date, format='%d.%m.%Y') - pd.to_datetime(start_date, format='%d.%m.%Y')).days

# Generating data using year_fraction function for each convention
data = {'Day Count Convention': conventions,
        'Days': [days_difference] * len(conventions),  # Repeat the days_difference for each convention
        'Year': [year_fraction(start_date, end_date, conv) for conv in conventions]}

# Creating DataFrame from the generated data
df = pd.DataFrame(data).set_index('Day Count Convention')
df.index.name = None  # Removing the index name

# Add title and apply styling for bold border
styled_df = df.style.set_table_attributes('style="border: 2px solid black; border-collapse: collapse;"').set_caption('Time Period')
styled_df